.constructor-panel{
    width: 340px;
    height: 100vh;
    background-color: var(--Surface-container-low-color);
    box-shadow: var(--Shadow-base-v2);
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    .head-panel{
        display: flex;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;
        align-items: center;
    }
}