.constructor-panel{
    width: 360px;
    height: 100vh;
    background-color: var(--Surface-container-low-color);
    border-radius: var(--base-border-radius);
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: var(--Shadow-base);
    .list-item-constructor-container{
        margin: 0;
    }
    .constructor-box{
        padding: 0 10px;
    }
    .list-item-constructor{
        min-height: 56px;
    }
}